################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProject-HundeKennel/TestProject-HundeKennel.csproj
/TestProject-HundeKennel/TestProject-HundeKennel.csproj
